name: Release

on:
  push

jobs:
  build:
    runs-on: windows-latest

    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Get-Version
        id: version
        run: echo "VERSION=$(([XML](Get-Content AutoJailMarker/AutoJailMarker.csproj)).Project.PropertyGroup.Version)".Trim() >> $env:GITHUB_OUTPUT

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Download Dalamud
        run: |
          Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/stg/latest.zip -OutFile latest.zip
          Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev\"

      - name: Build
        env:
          VERSION: ${{ steps.version.outputs.VERSION }}
        run: |
          Invoke-Expression "dotnet build --no-restore --configuration Release --nologo -p:Version=${{ env.VERSION }} -p:FileVersion=${{ env.VERSION }} -p:AssemblyVersion=${{ env.VERSION }}"

      - name: Prepare Release
        id: prepare
        run: |
          $path = 'AutoJailMarker/bin/Release/AutoJailMarker'
          $json = Get-Content -Raw $path/AutoJailMarker.json | ConvertFrom-Json
          echo "API=$($json[0].DalamudApiLevel)".Trim() >> $env:GITHUB_OUTPUT
          Move-Item -Path $path/latest.zip -Destination AutoJailMarker.zip

      - name: Create Release
        uses: softprops/action-gh-release@v2
        env:
          TAG: "refs/tags/${{ steps.version.outputs.VERSION }}"
          TITLE: ${{ steps.version.outputs.VERSION }}
        with:
          tag_name: ${{ env.TAG }}
          name : ${{ env.TITLE }}
          draft: false
          prerelease: false
          files: AutoJailMarker.zip

      - name: Write out repo.json
        env:
          VERSION: ${{ steps.version.outputs.VERSION }}
          API: ${{ steps.prepare.outputs.API }}
        run: |
          $version = "${{ env.VERSION }}"
          $api = ${{ env.API }}
          $unix = Get-Date -UFormat %s
          $path = 'AutoJailMarker/repo.json'
          $json = Get-Content -Raw $path | ConvertFrom-Json
          $json[0].AssemblyVersion = $version
          $json[0].DalamudApiLevel = $api
          $json[0].DownloadLinkInstall = $json.DownloadLinkInstall -replace '[^/]+/AutoJailMarker.zip',"$version/AutoJailMarker.zip"
          $json[0].DownloadLinkTesting = $json.DownloadLinkTesting -replace '[^/]+/AutoJailMarker.zip',"$version/AutoJailMarker.zip"
          $json[0].DownloadLinkUpdate = $json.DownloadLinkUpdate -replace '[^/]+/AutoJailMarker.zip',"$version/AutoJailMarker.zip"
          $json[0].LastUpdated = $unix
          $content = $json | ConvertTo-Json -AsArray
          set-content -Path $path -Value $content

      - name: Commit repo.json
        run: |
          git config --global user.name "Actions User"
          git config --global user.email "actions@github.com"
          git fetch origin master
          git branch -f master ${{ github.sha }}
          git checkout master
          git add AutoJailMarker/repo.json
          git commit -m "[CI] Updating repo.json for ${{ github.ref_name }}" || true
          git push origin master